@model UserSupervision.Models.ViewModel.RegisterViewModel;
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "User Registration";
}


<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a asp-controller="Home" asp-action="Dashboard">
                        <img class="align-content" src="~/images/logonew-removebg.png" width="100px" height="100px" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form asp-action="Register" method="post">
                        <div class="form-group">
                            <label class="form-label">Full Name</label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Contact Number</label>
                            <input asp-for="Mobile" class="form-control" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Agree the terms and policy
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success">Login</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a asp-controller="Account" asp-action="Login"> Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
