@model UserSupervision.Models.ViewModel.RegisterViewModel;
@{
    Layout = "_LoginLayout";
    ViewBag.Title = "User Registration";
}

<body>
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
            <div class="card-body">
                <h2 class="text-center mb-4">Create Account</h2>
                <form asp-action="Register" method="post">
                    <div class="form-group mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control" placeholder="Full Name" name="FullName" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Email Address*</label>
                        <input type="email" class="form-control" placeholder="Email Address" name="Email" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="Password" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Contact Number</label>
                        <input type="text" class="form-control" placeholder="Contact Number" name="Mobile">
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <a asp-controller="Account" asp-action="Login" class="link-primary">Already have an account?</a>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
